 body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #F2F2F2;
    }

    #app {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 600px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 20px;
    }

    form, ul, canvas {
      width: 100%;
      margin: 20px auto;
    }

    input[type="text"], input[type="number"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 2px solid #0078D4;
      border-radius: 5px;
      font-size: 16px;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      background: linear-gradient(90deg, rgba(0,120,212,1) 0%, rgba(0,90,158,1) 100%);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 16px;
    margin-bottom: 10px; 
  }

    button:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
 .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  margin-top: 20px; 
    }
  

  .button-container button {
    width: 100%;
    margin-bottom: 10px;
  
    }
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 5px;
      background-color: #F2F2F2;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
     table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      background-color: #0078D4;
      color: white;
    }

    .fa-trash-alt {
      cursor: pointer;
      color: red;
    }
    
    .progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
   margin-top: 20px; 
  }

  .progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    transition: width 0.4s ease-in-out;
    background-image: linear-gradient(45deg, #0078D4, #1F98E2, #3CB2EE, #70D7F9, #A6EBFF);
    animation: animateGradient 5s ease-in-out infinite;
    background-size: 200% 200%;
  }

  @keyframes animateGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
#historicalChart {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
  }